.globalMetaLink {
    text-decoration: none!important;
}

.feluda {
    color: #449D44!important;
}

.feluda:hover {
    color: white!important;
}

.satyajit:hover {
    color: white!important;
}

.satyajit {
    color: #FF0000!important;
}