.footer-credit {
    color: #F7AB0A!important;
}

.footer-credit:hover {
    color: white!important;
}

.footer-heart {
    color: red!important;
}

.footer-copyright {
    color: #97D6FA!important;
}