.portfolio-footer {
    color: white!important;
    font-weight: 600!important;
    padding: 15px;
    background-color: #373233!important;
    text-align: center;
}
.portfolio-download-projects{
    display: flex;
    justify-content: center;
    padding: 4px
}


.portfolio-footer a:hover {
    color: white;
}