.portfolio-footer {
    color: white!important;
    font-weight: 600!important;
    padding: 15px;
    background-color: #373233!important;
    text-align: center;
}

.portfolio-footer a:hover {
    color: white;
}

.project-thumbnail {}